<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Info Order</title>
    <link th:fragment="header-css" th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <script th:fragment="footer-js" th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="bg-light">
<div th:replace="~{commonNavBar :: main-navbar}"></div>

<div class="container d-flex justify-content-center align-items-center vh-100">

    <div class="bg-dark card shadow-sm" style="width: 100%; max-width: 400px;">
        <div class="card-body p-4">
            <h3 class="card-title text-center mb-4 text-success">Order Information</h3>

            <form th:object="${order}">
                <div class="mb-3">
                    <label for="city" class="fs-5 form-label text-light" >City: </label>
                    <input type="text" class="form-control" id="city" th:value="*{city}" readonly>

                </div>

                <div class="mb-3">
                    <label for="deliveryStat" class="fs-5 form-label text-light" >Delivery Status: </label>
                    <input type="text" class="form-control" th:value="${order.deliveryStatus}" id="deliveryStat" readonly>
                </div>

                <div class="mb-3">
                    <label for="orderDate" class="fs-5 form-label text-light" >Order Date: </label>
                    <input type="date" class="form-control" id="orderDate" th:value="*{orderDate}" readonly>
                </div>

                <div class="mb-3">
                    <label for="customerSelect" class="fs-5 form-label text-light" >Select Customer: </label>
                    <input type="text" class="form-control" id="customerSelect" th:value="|${order.customerDTO.id} - ${order.customerDTO.name}|" readonly>
                </div>

                <div class="mb-3">
                    <label for="productSelect" class="fs-5 form-label text-light" >Select Product: </label>
                    <input type="text" class="form-control" id="productSelect" th:value="|${order.productDTO.id} - ${order.productDTO.name} - ${order.productDTO.price}|" readonly>
                </div>

                <div class="card-body text-center">
                    <a th:href="@{/order/read}" class="btn btn-light">GO BACK</a>
                </div>
            </form>

        </div>
    </div>

</div>
</body>
</html>